body {
  background: #222;
  color: white;
  background-color: green;
}

img {
  max-width: 100%;
}

.outside {
  height: 100px;
}

/* Code Under This Line */
.foo {
	background-color: red;
}
.bar {
	background-color: blue;
}
