p {
  line-height: 1.5;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

.box {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

/* Your Code Goes Under This Line */
.box.subtle {
	box-shadow: 1px 1px 8px 1px rgba(00,00,00,0.1);

}